.#{$namespace}sakai-samigo{
	.navIntraTool{
		li {
		    display: inline-block;
		    margin: 0 0 0 0;
		    span{
		    	display: inline-block;
		    	a{
		    		display: block;
		    		padding: 0.5em 0.5em 0.6em 0.2em;
		    		margin: 0 0 0 0;
		    	}
		    }
		}
	}

	#samigo-create-new-box, #samigo-create-import-box {
		@extend .bs-callout-primary;
		border-left-width: 0;
		margin-top: 0;
	}
}
