/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 204, 92%, 20%);
    @include defineColorHSL(--sakai-color-blue, 204, 92%, 20%);
    @include defineColorHSL(--sakai-color-red, 353, 67%, 45%);

    --top-header-background: hsl(0, 0%, 95%);
    --topNav-text-color: hsl(0, 0%, 0%);

    --sakai-brand--lighter-6: var(--sakai-color-red--lighter-3);
}

button#sidebar-collapse-button {
    visibility: hidden !important;
}

button.btn.icon-button.btn-logo-button, div#logoWrapper a.btn {
  padding: 0 !important;
}
.portal-header-logo img {
  max-height: 3rem;
  width: 20rem;
}
.portal-header-breadcrumb-separator, .portal-header-breadcrumb-item > a {
  color: --sakai-brand;
}
