/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 204, 92%, 20%);
    @include defineColorHSL(--sakai-color-blue, 204, 92%, 20%);
    @include defineColorHSL(--sakai-color-red, 353, 67%, 45%);

    --top-header-background: hsl(0, 0%, 95%);
    --topNav-text-color: hsl(0, 0%, 0%);

    --sakai-brand--lighter-6: var(--sakai-color-red--lighter-6);
}

button.btn.icon-button.btn-logo-button {
    display: none !important;
}

button#sidebar-collapse-button {
    visibility: hidden !important;
}

div#logoWrapper {
    background: url(/library/skin/doorsafety/images/sakaiLogo.png) no-repeat center;
    background-size: 139px 61px;
}
