/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 176, 25%, 38%);
    @include defineColorHSL(--sakai-color-green, 176, 25%, 38%);
    @include defineColorHSL(--sakai-color-yellow, 53, 74%, 52%);

    --top-header-background: var(--sakai-brand);

    --sakai-selected-page-bg-color: var(--sakai-color-yellow);
    --sakai-selected-page-color: var(--sakai-color-green);
}