/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 198, 87%, 52%);
    @include defineColorHSL(--sakai-color-orange, 34, 95%, 49%);
    @include defineColorHSL(--sakai-color-navy, 238, 85%, 26%);

    --top-header-background: var(--sakai-brand);

    --sakai-selected-page-bg-color: var(--sakai-color-orange);
    --sakai-selected-page-color: var(--sakai-color-navy);

}

@media (min-width: 992px) {
    .portal-header #logoWrapper a.btn {
      padding-right: 6rem !important;
    }
  }