/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 337, 67%, 36%);
    --top-header-background: var(--sakai-brand);
    --bs-primary-rgb: 153, 30, 77;
    --topNav-text-color: hsl(0, 0%, 100%);
    --sakai-offcanvas-header-bg: var(--sakai-brand);

    --all-sites-button-text-color: hsl(0, 0%,0%);
    --all-sites-button-hover-text-color: hsl(0, 0%, 100%);
    --all-sites-button-selected-text-color: hsl(0, 0%, 100%);
    // Tabs
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);

    //Sites Nav
    --sakai-selected-page-bg-color: var(--sakai-brand);
    --site-nav-btn-current-hover-color: hsl(0, 0%,100%);
    --site-nav-btn-hover-color: hsl(0, 0%,100%);
    //--sites-nav-background: hsl(0, 0%, 95%);
    //--sites-nav-menu-item-background: hsl(0, 0%, 48%);
    //--sites-nav-menu-item-color: hsl(0, 0%, 100%);
    //--sites-nav-menu-item-hover-background: hsl(0, 0%, 58%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    //--sites-nav-menu-item-selected-background: var(--sakai-brand);
    //--sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    //--sites-nav-menu-item-selected-hover-background: hsl(337, 67%, 41%);

    //Tool Menu
    //--tool-menu-item-selected-background-color: var(--sakai-brand);
    //--tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    //--tool-menu-item-selected-hover-background-color: hsl(337, 67%, 41%);

}
$skin-name: 'luc';

// Logo
//#logoWrapper img { 
//    visibility: hidden;
//}
//#logoWrapper button.btn-logo-button {
//    background: url("/library/skin/images/luc.svg") no-repeat no-repeat;
//}

a#loginLink1 {
    color: #FFF;
}

a#loginLink2 {
    color: #FFF;
}

a#loginLink1:hover {
    color: #000;
}

a#loginLink2:hover {
    color: #000;
}
