/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 340, 86%, 19);
    @include defineColorHSL(--sakai-color-gold, 44, 100%, 46%);
    @include defineColorHSL(--sakai-color-red, 340, 86%, 19);

    // Top header and logo wrapper
    --top-header-background: var(--sakai-color-gold);

    // LUC Custom
    --topNav-text-color: var(--sakai-color-black);
    --all-sites-button-selected-background-color: var(--sakai-color-gold);
    --site-nav-btn-current-hover-color: hsl(0, 0%, 57%);
    --sakai-text-color-inverted: hsl(0, 0%, 100%);

    #portal-nav-sidebar .btn-nav.selected-page {
      background-color: hsl(0, 0%, 36%) !important;
      border-color: hsl(0, 0%, 36%) !important;
      opacity: 1 !important;
    }
    #portal-nav-sidebar .btn-nav:hover, #portal-nav-sidebar li.site-list-item .site-list-item-head:hover {
      background-color: hsl(0, 0%, 57%) !important;
      color: hsl(0, 0%, 100%) !important;
    }
    #portal-nav-sidebar li.site-list-item .site-list-item-head a:hover, #portal-nav-sidebar li.site-list-item .site-list-item-head:hover a {
      color: hsl(0, 0%, 100%) !important;
    }
    .portal-header .portal-header-breadcrumb-separator, .portal-header .portal-header-breadcrumb-item > a {
      color: hsl(0, 0%, 0%) !important;
    }

    // This is hover on site nav buttons
    // --sakai-brand--lighter-6: #facfbd;
}

:root.sakaiUserTheme-dark {
  --sakai-selected-page-bg-color: hsl(51, 29%, 53%);
  --sakai-text-color-inverted: hsl(0, 0%, 100%);
}


.portal-header-logo img {
  width: 300px;
}
#logoWrapper .btn {
  padding: 0 !important;
}
.si-com-sonicfoundry-mediasite-catalog::before,
.si-com-sonicfoundry-mediasite-lti:before,
.si-com-sonicfoundry-mediasite-mymediasite:before
{
    content: "\f2cb";
}
.si-sakai-panopto:before,
.si-sakai-atomiclearning:before,
.si-sakai-voicethread:before
{
    content: "\f829";
}
.si-sakai-zoompro:before {
    font-family: 'FontAwesome' !important;
    content: "\f0c0";
}
.si-sakai-piazza:before {
    font-family: 'FontAwesome' !important;
    content: "\f288";
}
