/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 184, 100%, 29%);
    @include defineColorHSL(--sakai-color-blue, 184, 100%, 29%);

    --top-header-background: var(--sakai-color-white);
    --top-header-text-color: var(--sakai-color-black);
}
:root.sakaiUserTheme-dark {
    --top-header-background: var(--sakai-color-gray--darker-2);
}
