/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 219, 100%, 18%);
    // Logo
    --logo: url(library/skin/images/pepperdine-logo.svg);
    --topNav-text-color: hsl(0, 0%, 100%);

    --bs-primary-rgb: 0, 32, 92;

    --top-header-background: var(--sakai-brand);
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);


    --sakai-selected-page-bg-color: hsl(199, 100%, 35%);
    //Sites Nav
    --site-nav-btn-current-hover-color: hsl(0, 0%, 100%);
    --site-nav-bg: hsl(0, 0%, 100%);
    --site-nav-list-item-bg: hsl(0, 0%, 100%);

    // All Sites
    --sakai-offcanvas-header-bg: var(--sakai-brand);
    --all-sites-button-selected-background-color: hsl(199, 100%, 35%);
    //--all-sites-button-selected-border-color: hsl(214, 41%, 78%);
    --all-sites-button-selected-text-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-text-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-star-full-color: hsl(0, 0%, 100%);
    //--all-sites-button-hover-star-empty-color: hsl(0, 0%, 0%);
   --sticky-footer-bg: hsl(0,0%,100%);

    --site-nav-btn-hover-bg: hsl(199, 100%, 35%);
    --site-nav-btn-hover-color: hsl(0,0%,100%);

}
// Custom CSS
$skin-name: "pepperdine";

ul.other-sites-category-list li.is-selected a {
    color: #FFF;
}

li.nav-item a[title="Site Info: For displaying and managing information and settings about the site"] {
    background: #c25700;
    color: #FFF !important;
}

a#loginLink1 {
    color: #FFF;
}

a#loginLink2 {
    color: #FFF;
}

a#loginLink1:hover {
    color: #000;
}

a#loginLink2:hover {
    color: #000;
}

//.text-primary, .bg-primary {
//    background-color: var(--sakai-brand) !important;
//}
