/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 350, 74%, 38%);
    @include defineColorHSL(--sakai-color-blue, 167, 45%, 58%);
    @include defineColorHSL(--sakai-color-red, 350, 74%, 38%);

    --top-header-background: var(--sakai-white);
    --topNav-text-color: var(--sakai-black);
    --sakai-brand--lighter-6: var(--sakai-color-red--lighter-6);
}

:root.sakaiUserTheme-dark {
//    --link-color: hsl(210, 4%, 89%);
//    --tool-tab-active-highlight-color: hsl(0, 0%, 100%);
//   --tool-tab-active-text-color: hsl(0, 0%, 100%);
}
    
.portal-header {
  box-shadow: 0 8px 6px -6px gray;
}

.portal-header-logo img {
  width: 300px;
}
#logoWrapper .btn {
  padding: 0 !important;
}
