/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 350, 74%, 38%);
    @include defineColorHSL(--sakai-color-blue, 167, 45%, 58%);
    @include defineColorHSL(--sakai-color-red, 350, 74%, 38%);

    --top-header-background: var(--sakai-white);
    --topNav-text-color: var(--sakai-black);
    --sakai-brand--lighter-6: var(--sakai-color-red--lighter-6);
}

:root.sakaiUserTheme-dark {
    .portal-header-logo img { display: none }
    #logoWrapper button.btn-logo-button { 
      width: 186px; 
      height: 40px; 
      background-image: url(/library/skin/questrom/images/qst-dark.png); 
      background-size: contain; 
      background-position: left center; 
      background-repeat: no-repeat; 
    }
}
    
.portal-header {
  box-shadow: 0 8px 6px -6px gray;
}

#logoWrapper .btn {
  padding: 0 !important;
}
