/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 232, 80%, 21%);
    // Logo
    --logo: url(library/skin/images/trysakai.png);
    --logo-background-color: var(--sakai-brand);
    --logo-height: 40px;
    --logo-width: 298px;

    --bs-primary-rgb: 11, 22, 96;

    --top-header-background: var(--sakai-brand);
    --topNav-text-color: hsl(0, 0%, 100%);
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);


    --sakai-selected-page-bg-color: var(--sakai-brand);
    //Sites Nav
    --site-nav-btn-current-hover-color: hsl(0, 0%, 100%);
    --all-sites-button-selected-background-color: hsl(214, 41%, 78%);
    --all-sites-button-selected-border-color: hsl(214, 41%, 78%);
    --all-sites-button-hover-text-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-star-full-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-star-empty-color: hsl(0, 0%, 0%);


    --site-nav-btn-hover-bg: var(--sakai-brand);
    --site-nav-btn-hover-color: hsl(0,0%,100%);
}

:root.sakaiUserTheme-dark {
    --link-color: hsl(210, 4%, 89%);
    --tool-tab-active-highlight-color: hsl(0, 0%, 100%);
    --tool-tab-active-text-color: hsl(0, 0%, 100%);
}
// Custom CSS
$skin-name: "trysakai";

.cke_1 .cke_button_on {
    background-color: #fff !important;
}
