/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 232, 80%, 21%);
    @include defineColorHSL(--sakai-color-blue, 200, 100%, 21%);
    @include defineColorHSL(--sakai-color-red, 29, 100%, 17%);
    @include defineColorHSL(--sakai-color-yellow, 38, 53%, 81%);

    --top-header-background: var(--sakai-brand);
    --top-header-text-color: var(--sakai-text-color-inverted);
    --portal-header-breadcrumb-color: var(--top-header-text-color);

    --sakai-brand--lighter-6: var(--sakai-color-yellow--lighter-2);
}

:root.sakaiUserTheme-dark {
    --link-color: hsl(210, 4%, 89%);
    --tool-tab-active-highlight-color: hsl(0, 0%, 100%);
    --tool-tab-active-text-color: hsl(0, 0%, 100%);
}
