/* Light Theme */
:root{
    // Primary Color
    //include defineColorHSL(--sakai-brand, 342, 98%, 24%);
    @include defineColorHSL(--sakai-brand, 335, 100%, 17.64%);
    @include defineColorHSL(--walsh-gold, 45, 100%, 60%);
    @include defineColorHSL(--sakai-color-blue, 222, 100%, 21%);

    // Top header and logo wrapper
    --top-header-background: var(--sakai-brand);

    // This is hover on site nav buttons
    --sakai-brand--lighter-6: #ece0ca;
}

.fav-title span.walshUnpublishedSite {
    width: 100%;
    height: 30px;
    line-height: 29px;
    vertical-align: middle;
    opacity: 60%;
    padding-left: 2px;
}
li:has(.walshUnpublishedSite) > button.site-favorite-btn {
    display: none;
}
