/* Light Theme */

:root{
    // Primary Color
    $westlib-yellow: hsl(45, 100%, 60%);
    @include defineColorHSL(--sakai-brand, 0, 0%, 0%);
    @include defineColorHSL(--sakai-color-gold, 45, 100%, 60%);
    @include defineColorHSL(--sakai-color-blue, 197, 100%, 47%);
    @include defineColorHSL(--sakai-color-red, 16, 86%, 37%);

    --top-header-background: var(--sakai-brand);

    // Modal Window Header
    --sakai-offcanvas-header-bg: hsl(45, 100%, 60%);
    --sakai-offcanvas-header-color: var(--sakai-black);
    --sakai-modal-header-bg: hsl(45, 100%, 60%);
    --sakai-modal-header-color: var(--sakai-black);


    // This is hover on site nav buttons
    --sakai-brand--lighter-6: var(--sakai-color-gold--lighter-3);

    // Specific WestLib customizations
    // No lines between Lessons items
    --lessons-item-border-top-color: transparent;
    --link-color: #0000ff;
}

:root.sakaiUserTheme-dark {
    --topNav-text-color: hsl(220, 4%, 83%);
}

.Mrphs-toolTitleNav sakai-maximise-button {
    display: none;
}

$primary-theme-color: hsl(0, 0%, 0%);
$westlib-yellow: hsl(45, 100%, 60%);

#loginLinksImage .btn {
  background-color: lighten($primary-theme-color, 15%);
  border: 1px solid darken($westlib-yellow, 20%);
  color: $westlib-yellow;
  
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: lighten($primary-theme-color, 25%); // Fallback hover effect
  }
}
