/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 357, 52%, 42%);
    @include defineColorHSL(--sakai-color-red, 357, 52%, 42%);
    @include defineColorHSL(--sakai-color-blue, 237, 52%, 42%);
    @include defineColorHSL(--sakai-color-green, 117, 52%, 42%);
    @include defineColorHSL(--sakai-color-gold, 49, 100%, 47%);

    --top-header-background: var(--sakai-brand);

    // This is hover on site nav buttons
    --sakai-brand--lighter-6: var(--sakai-color-gold--lighter-2);
}

:root.sakaiUserTheme-dark {
   --site-nav-bg: #31353b;
   --site-nav-list-item-bg: #31353b;
   --sticky-footer-bg: #31353b;
}

@media only screen and (max-width: 800px) {
    div#loginLinksImage {
        display: contents;
    }
}
