/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 357, 52%, 42%);
    // Logo
    --logo: url(library/skin/images/wjeff.png);
    --topNav-text-color: hsl(0, 0%, 100%);

    --bs-primary-rgb: 164, 52, 58;

    --top-header-background: var(--sakai-brand);
    --sakai-modal-header-bg: var(--sakai-brand);
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);


    --sakai-selected-page-bg-color: var(--sakai-brand);
    //Sites Nav
    --site-nav-btn-current-hover-color: hsl(0, 0%, 100%);
    --site-nav-bg: hsl(0, 0%, 100%);
    --site-nav-list-item-bg: hsl(0, 0%, 100%);

    // All Sites
    --sakai-offcanvas-header-bg: var(--sakai-brand);
    //--all-sites-button-selected-background-color: hsl(214, 41%, 78%);
    //--all-sites-button-selected-border-color: hsl(214, 41%, 78%);
    --all-sites-button-selected-text-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-text-color: hsl(0, 0%, 100%);
    --all-sites-button-hover-star-full-color: hsl(0, 0%, 100%);
    //--all-sites-button-hover-star-empty-color: hsl(0, 0%, 0%);
   --sticky-footer-bg: hsl(0,0%,100%);

    --site-nav-btn-hover-bg: var(--sakai-brand);
    --site-nav-btn-hover-color: hsl(0,0%,100%);
}

:root.sakaiUserTheme-dark {
   --site-nav-bg: #31353b;
   --site-nav-list-item-bg: #31353b;
   --sticky-footer-bg: #31353b;
}
// Custom CSS
$skin-name: "wjeff";

ul.other-sites-category-list li.is-selected a {
    color: #FFF;
}

div#loginLinksImage a {
    color: #FAFAFA;
}


a#loginLink1:hover {
    background: var(--sakai-brand);
}


a#loginLink2:hover {
    background: var(--sakai-brand);
}

@media only screen and (max-width: 800px) {
    div#loginLinksImage {
        display: contents;
    }
}
