
$background-color-secondary: #5b8ab5;
$logo: 'images/pepperdine-logo.svg';
$logo-height: 42px;
$logo-width: 200px;

$tool-menu-color: #00205c;
$button-primary-background-color: #00205c;

$sites-nav-background: #00205c;
$sites-nav-menu-item-background: #5b8ab5;
$sites-nav-menu-item-border-color: transparent;
$sites-nav-menu-item-color: #ffffff;
$sites-nav-menu-item-icon-color: #ffffff;
$sites-nav-menu-item-hover-background: #5b8ab5;
$sites-nav-menu-item-hover-color: #ffffff;
$sites-nav-menu-item-hover-icon-color: #ffffff;
$sites-nav-menu-item-hover-border-color: #ffffff;
$sites-nav-menu-item-selected-background: #ffffff;
$sites-nav-menu-item-selected-color: #4c4c4c;
$sites-nav-menu-item-selected-icon-color: #4c4c4c;
$sites-nav-menu-item-selected-border-color: #00205c;
$sites-nav-menu-item-selected-hover-background: #ffffff;
$sites-nav-menu-item-selected-hover-color: #4c4c4c;
$sites-nav-menu-item-selected-hover-icon-color: #4c4c4c;
$sites-nav-menu-item-selected-hover-border-color: #00205c;

$tool-menu-item-selected-text-color: #00205c;
$tool-menu-item-selected-icon-color: #00205c;
$tool-menu-item-selected-border-left: 4px solid #00205c;
$tool-tab-active-highlight-color: #00205c;
$tool-menu-background-color: #f3f3f3;
$tool-menu-item-background-color: #f3f3f3;
$tool-menu-item-hover-background-color: #dddddd;
$tool-border-color: transparent;
$tool-tab-hover-text-color: #333333;
$tool-tab-hover-highlight-color: #716f6f;
$tool-tab-hover-background-color: #dedede;

$breadcrumbs-tool-color: #00205c;
$breadcrumbs-hover-color: #00205c;


$all-sites-button-star-full-color: #ee7624;
$all-sites-button-selected-star-full-color: #ee7624;

nav#toolMenu ul li {
  border: 0;

  a[title='Site Info - For showing worksite information and site participants'] {
    background-color: #ee7624;
    color: #fff;
  }

  &.is-current {
    border-bottom: 2px solid rgba(211, 211, 211, .5);

    span.Mrphs-toolsNav__menuitem--title {
      &::after {
        content: '\25c4';
        position: absolute;
        right: 0;
        top: 0;
        color: #00205c;
        font-size: 2.1em;
      }
    }

    a[title='Site Info - For showing worksite information and site participants'],
    a[title='Site Info'] {
      background-color: #ee7624;
      color: #fff;

      .Mrphs-toolsNav__menuitem--title {
        &::after {
          color: #ffffff;
        }
      }
    }
  }
}

div.Mrphs-portalWrapper .instruction {
  color: #777;
  border-left-color: #999;
}
			
@media only screen and (max-width: 800px) {
  ul.Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
    color: #00205b;
  }
  div.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: 100px;
    background-size: 100px 21px;
  }
  div.Mrphs-mainHeader .Mrphs-loginUser p {
    margin: 0.05em 0.8em 0 0;
  }
  .table-responsive {
    > .table {
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: normal !important;
           }
         }
       }
     }
   }
}

#mastLogin #loginLinks > * {
  line-height: 1.5em;
}
#mastLogin #loginUser > span.Mrphs-userNav__submenuitem--username {
  line-height: 2.3em;
}

.Mrphs-multipleTools div.Mrphs-container {
  border: 0;
}

.Mrphs-topHeader #loginLinks a {
  text-decoration: none;
}
.Mrphs-topHeader #loginLinks a:hover {
  text-decoration: underline;
  color: inherit;
}

div.Mrphs-sakai-samigo #samigo-create-new-box, div.Mrphs-sakai-samigo #samigo-create-import-box {
  background-color: #edf3f8;
  border-color: #5b8ab5;
  border-left-color: #00205c;
}
#authorIndexForm #tabs .ui-state-active, #authorIndexForm #tabs .ui-widget-content .ui-state-active, #authorIndexForm #tabs .ui-widget-header .ui-state-active {
  background: #5b8ab5 !important;
  border: 1px solid #00205c !important;
}

.column .commentDiv, .column .studentContentTable, .column .questionDiv .contentCol, .column .checklistDiv, .column .forumSummaryHeaderDiv, .column .announcementsHeaderDiv, .column .fc-toolbar .timeline-Header {
  background-color: #edf3f8 !important;
}
div.colblue {
  background-color: #edf3f8 !important;
}
