/* Logo location */
$logo: 'images/wfu.svg';
$logo-height: 50px;
$logo-width: 400px;

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #3b3836;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color: #e6e1da;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #e6e1da;
$tool-border-color:    			 #000000;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #000000 !important;
$tool-menu-hover-background-color: linear-gradient(to bottom, #CECABD 0%,#C2BDAD 100%) !important;
$tool-menu-current-background-color: #C2BDAD !important;
$tool-menu-current-color: #9E7E38 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;


$tool-menu-item-selected-text-color:                       #9E7E38 !default;
$tool-menu-item-selected-icon-color:                       #9E7E38 !default;
$tool-menu-item-background-color:                          #e6e1da !default;
$tool-menu-item-hover-text-color:                          #000000 !default;
$tool-menu-item-hover-icon-color:                          #000000 !default;
$tool-menu-item-hover-background-color:                    linear-gradient(to bottom, #CECABD 0%,#C2BDAD 100%) !default;
$tool-menu-item-hover-border-left:                         4px solid #3b3836 !default;
$tool-menu-item-selected-border-left:                      4px solid #3b3836 !default;

$tool-tab-text-color:                                     $tool-menu-color !default;
$tool-tab-background-color:                               $tool-menu-background-color !default;
$tool-tab-active-highlight-color:                         #9e7e38 !default;


$main-content-background: $background-color !important;
$top-header-background: #FFFFFF !important;
$sites-nav-background: #3c3937 !important;

$breadcrumbs-color:    			 #000000 !important;
$breadcrumbs-tool-color:       		 #000000 !important;
$breadcrumbs-hover-color:      		 #444444 !important;

/* Link colors */
$link-color: #544a45;
$link-active-color:#625750;
$link-hover-color: $primary-color !important;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #000000;
$button-border-color: #E5E0D9;
$button-background-color: -webkit-linear-gradient(top, #E8E3DD 0%,#E5E0D9 100%);
$button-background-secondary-color: #E5E0D9;
/* General button colors */
$button-color-text-color: #000000;
$button-color-border-color: #E5E0D9;
$button-color-background-color: -webkit-linear-gradient(top, #E8E3DD 0%,#E5E0D9 100%);
$button-color-background-secondary-color: #E5E0D9;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$topNav-text-color: #000000;

$sites-nav-menu-item-background:            #3c3937 !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            none ; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none;
$sites-nav-menu-item-selected-background:   #9e7e38 !important;
$sites-nav-menu-item-selected-color:        #FFFFFF !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        #3c3937 !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Favorites - tool submenu items hovered */
$sites-nav-submenu-item-hover-background:   #ECECEC !default;
$sites-nav-submenu-item-hover-color:        #3c3937 !important;
$sites-nav-submenu-item-hover-icon-color:   #3c3937 !important;
$sites-nav-submenu-item-hover-left-border-color: #3c3937 !important;

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: $primary-color !important;
   background: #9c7d37 !important;
}

.instruction {
    border-color: $primary-color !important;
    background-color: #9c7d37 !important;
    color: #fff !important;
}

@media only screen and (max-width: 800px){
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    background: url("../images/wfuSakai.svg") no-repeat center center !important;
    width: 145px !important;
    }
}

.dropzone .dz-preview .dz-progress {
    opacity: 0 !important;
}

#authorIndexForm .ui-state-active, #authorIndexForm .ui-widget-content .ui-state-active, #authorIndexForm .ui-widget-header .ui-state-active {
  background: #9c7d37 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: transparent !important;
}
